### AL ###
# Игнорируем всё по умолчанию
*

# Но разрешаем отслеживание следующих файлов и папок:
!LICENSE*
!*.yaml
!*.yml

# Исключаем 
.esphome/
build/
.pio/
*.bin
*.elf
*.hex
*.log
.vscode/
.idea/
.DS_Store
Thumbs.db
*.bak
*.tmp
secrets.yaml
